@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Georgia, 'Times New Roman', Times, serif';
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.calc-body{
    width: 250px;
    background-color: #13181d;
    backdrop-filter: blur (10px);
    border-radius: 20px;
    padding: 40px 30px;
}
.result-display{
    color: white;
    background-color: lightcoral;
    height: 30px;
    padding: 20px;
    text-align: right;
    border-radius: 10px;
    overflow: hidden;
}
.calc-display h3,
.result-display h1{
    margin: 0;
    font-weight: 400;
}
.calc-display{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: lightcyan;
    color: black;
    height: 50px;
    padding: 0 15px;
    text-align: right;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.btn-wrap{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.btn{
    padding: 10px;
    height: 55px;
    width: 55px;
    font-size: medium;
    color: black;
    background-color: lightpink;
    border: none;
    outline: none;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease 0s;
    cursor: pointer;
}
.btn:hover{
    background-color: #212b33;
}
.btn:active{
    background-color: #13181d;
    box-shadow: none;
}
.btn-orange{
    color: #E59;
}
.btn-lg{
    width: 120px;
    background-color: #E59;
    color: #243441;
}
.btn-lg:hover{
    background-color: #E6f9;
}
